<header>
<div class="ui inverted segment">
  <button class="ui inverted orange basic button">Главная</button>
  <button class="ui inverted yellow basic button">Создать тему</button>
  <button class="ui inverted teal basic button">Открыть раздел</button>
  <button class="ui inverted violet basic button">Правила форума</button>
  <button class="ui inverted blue basic button">Прочее</button>
  <button class="ui inverted green basic button">Мой профиль</button>
</div>
</header>
<style>

div{
    display: flex;
    align-items: center;
    justify-content: center;
}
{% include "main_app/styles.html" %}

</style>