{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main_app/css/main.css' %}">
    <meta charset="UTF-8">
    <title>Undercover - форум</title>

</head>
<body>

{% include "header.html" %}

{% for post in page_obj %}
<div class="post_card">
    <a href="{% url 'topic' pk=post.pk %}"><h1 align="left" class="post_field">{{ post.title }}</h1></a>
<h2 align="left" class="post_field">Автор: {{ post.author }}</h2>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><button>В начало</button></a>
        <a href="?page={{ page_obj.previous_page_number }}"><button>Назад</button></a>
        {% endif %}



        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><button>Вперед</button></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"><button>В конец</button></a>
        {% endif %}
    </span>
</div>
        <span class="current" style="color:white">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
</body>
<style>
h1{color:white}
h2{color:white}
h3{color:white}
.post_card{
background-color: #1b1c1d;
padding: 10px;
display: flex;
height: 60px;
flex-direction: column;
border-radius: 10px;
margin-top: 10px;
margin-left: 12px;
margin-right: 12px;
}
.post_field{
line-height: 10px;
}
</style>
</html>
