{% include "header.html" %}
{% include 'main_app/styles.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <div class="topic" style="color: white;">
        <h1>{{ post.title }}</h1>
        <h2>{{ post.body|safe }}</h2>
        <h4>Автор: <a href="{% url 'profile' post.author.id %}">{{ post.author }}</a></h4></div>
    </div>
{% endblock %}



{% with comments.count as total_comments %}
    <h2>
        {% if total_comments != 0 %}
            {{ total_comments }} комментариев
            <div class="comments">
                {% for comment in comments %}
                    <div class="comment">
                        <p><a href="{% url 'profile' comment.author.id %}">{{ comment.author }}</a>: {{ comment.text }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if total_comments == 0 %}
            <p>Комментариев пока нет.</p>
        {% endif %}
{% endwith %}</h2>


{% if new_comment %}
    <h2>Ваш комментарий был добавлен.</h2>
{% endif %}

{% if user.is_authenticated %}
    <h2>Добавить комментарий:</h2>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <p><button class="ui inverted blue basic button" type="submit">Опубликовать</button></p>
    </form>
{% endif %}

{% if not user.is_authenticated %}
    <p>Вы должны зарегистрироваться или войти чтобы оставлять комментарии.</p>
{% endif %}

<style>
h2{color:white}
    .topic{
    flex-direction: column;}
    h1{color:white}
    p{color:white}
h3{color:white}
    .topic{
    flex-direction: column;}
    h1{color:white}
    p{color:white}

.topic{
background-color: #1b1c1d;
padding: 10px;
display: flex;
flex-direction: column;
border-radius: 10px;
margin-top: 10px;
margin-left: 12px;
margin-right: 12px;
width: 100%;
overflow: hidden;
display: inline-block;
  word-break: break-all;
  white-space: normal;
}


form input[type="text"], form textarea {
  background-color: gray;
  border: #2b2f30;
}
.comments {
background-color: #1b1c1d;
padding: 10px;
display: flex;
flex-direction: column;
border-radius: 10px;
margin-top: 10px;
margin-left: 12px;
margin-right: 12px;
width: 100%;
overflow: hidden;
display: inline-block;
word-break: break-all;
white-space: normal;
}
.comment{
margin-left: 5px;
text-align: left;
}
td{color:white}
</style>