{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правила форума</title>
</head>
<body>
<h2>Правила форума:</h2>
<p>
1. Будьте вежливы и уважительны к другим участникам.<br>
2. Запрещено оскорблять, угрожать или дискриминировать других участников.<br>
3. Не публикуйте ненормативную лексику или материалы, нарушающие законы РФ.<br>
4. Запрещено публиковать контент, нарушающий авторские права или распространять вирусы и вредоносное ПО.<br>
5. Не размещайте рекламу или спам на форуме.<br>
6. Не публикуйте личную информацию других участников без их согласия.<br>
7. Соблюдайте правила каждой категории форума и публикуйте сообщения в соответствующих разделах.<br>
8. Модераторы имеют право удалить любой контент, нарушающий правила форума, и забанить нарушителя на свое усмотрение.<br>
9. Обращайтесь к администрации форума, если у вас есть какие-либо вопросы или жалобы.<br>
10. Соблюдайте правила и наслаждайтесь общением на нашем форуме! :)
</p>
</body>
</html>
<style>
    h2{color:white}
    p{color:white}
</style>